zabbix_agent:
  server_hostname: "MY ZABBIX SERVER"
	server_ip_address: "MY ZABBIX SERVER IP"
pyyaml:
  version: 3.11
requests:
  version: 0.11.1
post_data:
  url: "MY APP URL"
  api_token: "MY APP TOKEN"
