[Unit]
Description = post_data process
After=capture.service

[Service]
EnvironmentFile=/srv/post_data/post_data.conf
ExecStart=/srv/post_data/post_data.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
