[Unit]
Description = Capture network
After=mon-if.service

[Service]
EnvironmentFile=/srv/capture/capture.conf
ExecStartPre=+/usr/bin/rm -rf /var/log/capture
ExecStartPre=+/usr/bin/mkdir /var/log/capture
ExecStartPre=+/usr/bin/chown capture:wireshark /var/log/capture
ExecStartPre=+/usr/bin/chmod 775 /var/log/capture
ExecStart=/srv/capture/capture.sh
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill $MAINPID 
KillMode=control-group
Restart=on-failure
Type=simple
User=capture
Group=wireshark

[Install]
WantedBy=multi-user.target
